/* Fonte da aplicação /Font of the App */
@import url('https://www.cufonfonts.com/font/feather-2');


*{
    background-color: #EDEEFF;
    font-family: 'Feather', cursive;
    font-weight: bolder;
}

/* <!-- button para regressar para homepage/button to return for the homepage --> */
.returnHomeBtn{
position: absolute; 
width: 203px;
height: 46px;
left: 33px;
top: 34px;
background: #005086;
box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
border-radius: 12px;
border: none;
}

/* Versão desktop/Desktop Version = /* estilo do contéudo do botão//style of the button content*/
button{
    color: #fff;
}


.returnHomeIcon{
    width:24px;
    height:24px;
    transform: rotate(-180deg);
    background-color: #005086;
}

.returnHomeIcon{
    position: relative;
    right: 16%;
}

button{
    display:flex;
    justify-content: center;
    align-items: center;
}





/* botão Iniciar Sessão/button for log in */
.loginSubmission{
width: 185px;
height: 46px;
left: 629px;
top: 554px;
background: #FFFFFF;
box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 12px;
border:none;
color:#005086;
}

/* link style do botão Iniciar Sessão */
.loginLink{
    text-decoration: none;
    color: #fff;
}

.loginLink:hover{
    color:#fff;
}







