/* Fonts family of App fonte*/
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Arima+Madurai:wght@800&family=Bree+Serif&family=Bungee+Shade&family=Butcherman&family=Cormorant+SC:wght@300&family=Creepster&family=Diplomata+SC&family=Eater&family=Frijole&family=Germania+One&family=Hanalei+Fill&family=IM+Fell+DW+Pica+SC&family=IM+Fell+Double+Pica+SC&family=IM+Fell+Great+Primer+SC&family=Inknut+Antiqua:wght@300&family=Jomolhari&family=Julius+Sans+One&family=Lacquer&family=Libre+Franklin:wght@300&family=Metal+Mania&family=Monofett&family=Nosifer&family=Pinyon+Script&family=Quintessential&family=Syncopate&family=Trade+Winds&family=UnifrakturMaguntia&display=swap');
@import url('https://www.cufonfonts.com/font/feather-2');

/* to import the fonts para importar fontes */
@font-face{
    src: url(https://www.cufonfonts.com/font/feather-2);
    font-family: 'Feather', cursive;
}

/* global selector for impact all the html document (body) 
selector global para impactar o todo o documento html*/
*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: 'Feather', cursive;
    
}

/* header */
.header{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    background:#005086;
    width: 101vw;
    height: 86px;
}

/* header logo */
.logo{
    display:flex;
    position: relative;
    left:10px;
    width: 115px;
    height: 91px;
}

/* navbarlist */
.navbar-list{
    font-size:15px;
    display:flex;
    gap:4.8rem;
    list-style:none;
}

.navbar-link a:link{
     display:inline-block;
    text-decoration: none;
    font-weight: bolder;
}

.navbar-list a{
    color: #fff;
}

.navbar-list{
    display:flex;
    margin-top: 39.5px;
    position: relative;
    left: -70px;
}

.select-link{
    display: flex;
    background-color: #989BD1;
    height:86px;
    width:120px;
    position: relative;
    left:150px
}

.navbar{
    display: flex;
    margin-left: -70px;
}

header{
    display: flex;
}

/* button logout */
.buttonHome{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #989BD1;
    border-radius: 12px;
    width:97px;
    height:46px;
    margin-top:-17px;
    margin-left: 730px;
}

.iconify{
    height:23px;
    width:23px;
}

.header{
    width:100vw;
}

.select-link{
    position: relative;
    left: 3%;
}