/* Fonts family of App */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Arima+Madurai:wght@800&family=Bree+Serif&family=Bungee+Shade&family=Butcherman&family=Cormorant+SC:wght@300&family=Creepster&family=Diplomata+SC&family=Eater&family=Frijole&family=Germania+One&family=Hanalei+Fill&family=IM+Fell+DW+Pica+SC&family=IM+Fell+Double+Pica+SC&family=IM+Fell+Great+Primer+SC&family=Inknut+Antiqua:wght@300&family=Jomolhari&family=Julius+Sans+One&family=Lacquer&family=Libre+Franklin:wght@300&family=Metal+Mania&family=Monofett&family=Nosifer&family=Pinyon+Script&family=Quintessential&family=Syncopate&family=Trade+Winds&family=UnifrakturMaguntia&display=swap');
@import url('https://www.cufonfonts.com/font/feather-2');

/* to import the fonts */
@font-face{
    src: url(https://www.cufonfonts.com/font/feather-2);
    font-family: 'Feather', cursive;
}

/* global selector for impact all the html document (body) */
*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: 'Feather', cursive;
}

/* Button HOME to return to the homepage */
.buttonHome{
    position: absolute;
    width: 203px;
    height: 46px;
    left: 27px;
    top: 29px;
    background: #005086;
    box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

/* Content Text of the Button Home */
.contentbtn{
position: absolute;
width: 44px;
height: 19px;
left: 96px;
top: 12.5px;
font-weight: bolder;
font-size: 17px;
line-height: 19px;
color: #FFFFFF;
}

/* Icon of the button Home */
.iconify{
position: absolute;
left:15.9%;
right: 92.85%;
top: 22.36%;
bottom: 90.47%;
width: 25px;
height: 25px;
background: #005086;
transform: rotate(-180deg);
color:#FFFFFF;
}


/* styles for the login form */
 .main-login{
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

/* styles for the left side login page */
.left-login{
    width:50vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* styles for the slogans login */
.left-login{
    color:#005086;
    font-weight: bolder;
}

/* styles for the heading slogan */
.left-login > .heading-slogan{
    font-size: 30px;
}

/* styles for the subheading slogan */
.left-login > .subheading-slogan{
    font-size: 13px;
}

/* styles for the rigth side login page */
.right-login{
    width:50vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}


/*styles for the radio buttons*/
.radio-buttons{
    display:grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 1fr;
    color:#005086;
    font-weight: bolder;
    margin-left: 65px;
}

/*styles for the radio buttons*/
input[type="radio"]{
    width:20px;
    height:20px;
}

/* to change the color of the radio selector */
#student{
    accent-color:#005086;
}

/* to change the color of the radio selector */
#teacher{
    accent-color:#005086;
}

 .student-line-heigth{
    position: relative;
    top: -4px;
}

.teacher-line-heigth{
    position: relative;
    top: -4px;
}

.textfield{
   display:grid;
   grid-template-columns: 1fr 98fr;
   grid-template-rows: 1fr 1fr;
   grid-gap:55px; 
}

.textfield{
    position: relative;
    left: -28px; 
}

.textfield{
width: 350px;
height: 41px;
}

/* textfields of the form USERNAME PASSWORD */
.textfield > input{
    width: 100%;
    border:none;
    border-radius:14px;
    padding: 12px 15px;
    background: #005086;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    color:#ffff;
    font-size: 15px;
    outline:none;
    box-sizing: border-box;
}

input[type="text"]::-moz-placeholder{
    opacity:1;
    color:#ffffff;
}

input{
    color:#ffffff;
    font-weight: bolder;
}

/* input on focus */
input:focus{
    background:#5259CD;
}

.register-link{
    display: flex;
}

/* style the link form */
.register-link a{
    color:#005086;
    text-decoration: none;
}

.bottom-login{
    display:flex;
    flex-direction:column;
    gap:20px;
    margin-top: 240px;
}

.textfield{
    margin-top: 15px;
    padding-top: 10px;;
}

.bottom-login{
    transform:translateY(-80%);
}

.register-link{
    transform:translateX(1%)
}

/* styles for the buttom INICIAR SESSÃO */
.btn-login{
background: #005086;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 12px;
border: none;
padding:6px;
color: #fff;
font-weight: bolder;
}

.btn-login{
    display:flex;
    justify-content: center;
    font-size: 14px;
    font-weight: bolder;
}

.btn-login{
    transform:translateY(90%);
}

.radio-buttons{
    margin-top: 35px;
}

.radio-buttons{
    cursor:pointer;
}

input::placeholder{
    color:#fff;
}

.underline-link{
width: 233px;
height: 7px;
background: #005086;
}

.register-link{
    display:flex;
    flex-direction: column;
}

.underline-link{
    display:flex;
}

.underline-link{
    transform:translate(-8%,30%)
}

.center-link{
    transform:translateX(20%)
}

.btn-login{
    width: 50%;
    height:45px;
}

.btn-login span{
    display:flex;
}

.btn-login span{
    transform:translateY(30%)
}

.btn-login{
    position: relative;
    left: 24%;
}

/* btn hoover effect */
.btn-login{
    transition: 850ms;
}

.btn-login:hover{
background: #5259CD;
}

.copy{
    font-size:10px;
    color: #005086;
    font-weight: bolder;
}

.copy{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -40px;
}

.copy{
    transform:translateY(360%)
}

/* Slogans */
.subheading-slogan{
    line-height:1px;
}

.left-login p {
    position: relative;
    left:-23%;
    top: 3%;
}

.left-login p:first-child {
    text-indent: -85px;
}

.left-login p:nth-child(even){
    position: relative;
    top: 12px;
}
/* ilustration */
.ilustration{
width: 709px;
height: 522px;
}

.ilustration{
    display: flex;
}

.ilustration{
    position: relative;
    left:20%;
    top: -5%;
}

 /* animation for the ilustration */
 .ilustration{
    animation:  1.5s Infinite  linear floating;
    animation-delay: 0s;
}

/* animation for the ilustration with floating function via Keyframes */
@keyframes floating {
    0%{opacity:1; transform:translateY(0px);}
    50%{ transform: translateY(-10px);}
    100%{opacity: 1; transform: translateY(0px);}
} 


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------RESPONSIVE SECTION----------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------MOBILE VERSION------------------------------------------------------------------------------------------------------------ */
@media all and (max-width:1113px){
    .radio-buttons{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr;
        color:#FFFFFF;
    }
    
    /* alterar */
    .textfield > input{
        width: 100%;
        border:none;
        border-radius:14px;
        padding: 12px 15px;
        background: #ffffff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        color:#5259CD;
        font-size: 15px;
        outline:none;
        box-sizing: border-box;
    }

}