/* Fonts family of App fonte*/
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Arima+Madurai:wght@800&family=Bree+Serif&family=Bungee+Shade&family=Butcherman&family=Cormorant+SC:wght@300&family=Creepster&family=Diplomata+SC&family=Eater&family=Frijole&family=Germania+One&family=Hanalei+Fill&family=IM+Fell+DW+Pica+SC&family=IM+Fell+Double+Pica+SC&family=IM+Fell+Great+Primer+SC&family=Inknut+Antiqua:wght@300&family=Jomolhari&family=Julius+Sans+One&family=Lacquer&family=Libre+Franklin:wght@300&family=Metal+Mania&family=Monofett&family=Nosifer&family=Pinyon+Script&family=Quintessential&family=Syncopate&family=Trade+Winds&family=UnifrakturMaguntia&display=swap');
@import url('https://www.cufonfonts.com/font/feather-2');

/* to import the fonts para importar fontes */
@font-face{
    src: url(https://www.cufonfonts.com/font/feather-2);
    font-family: 'Feather', cursive;
}

/* global selector for impact all the html document (body) 
selector global para impactar o todo o documento html*/
*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: 'Feather', cursive;
}

body{
    background-color: #EDEEFF;
}

/* header */
.header{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    background:#005086;
    width: 100vw;
    height: 86px;
}

/* header logo */
.logo{
    display:flex;
    position: relative;
    left:10px;
    width: 115px;
    height: 91px;
}

/* navbarlist */
.navbar-list{
    font-size:15px;
    display:flex;
    gap:4.8rem;
    list-style:none;
}

.navbar-link a:link{
     display:inline-block;
    text-decoration: none;
    font-weight: bolder;
}

.navbar-list a{
    color: #fff;
}

.navbar-list{
    display:flex;
    margin-top: 19.5px;
    margin-left: -100px;
}

.select-link{
    display: flex;
    background-color: #989BD1;
    height:86px;
    width:120px;
    position: relative;
    left:391px;
}

.navbar{
    display: flex;
    margin-left: -70px;
}


/* button logout */
.buttonHome{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #989BD1;
    border-radius: 12px;
    width:97px;
    height:46px;
    margin-top:-17px;
    margin-left: 730px;
}

.iconify{
    height:23px;
    width:23px;
}

nav li{
    margin-top:10px;
}

.navbar-link a:hover{
    color: #989BD1;
}

.navbar-link .perfil:hover{
    color: #ffff;
}


main{
    padding:30px;
    margin:80px;
    background-color: #989BD1;
    border-radius: 12px;
}
.photo-perfil > img{
   display: flex;
   height:140px; 
   width: 146px;
}


.card-perfil{
    display:flex;
    justify-content:center;
    align-items:center;
}

.left-perfil{
    display:flex;
    margin-left: -450px;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap: 20px;
}

/* nome do user */
#username{
    display:flex;
    justify-content: center;
    align-items:center;
    color: #ffffff;
    font-weight: bolder;
    font-size: 20px;
}

.points-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #ffffff;
    font-weight: bolder;
    margin-left: 530px;
}

.buttons{
    display: flex;
    justify-content:center;
    align-items:center;
    gap: 50px;
    margin-top: 50px;
    margin-left: 40px;
}

.editBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    outline: none;
    border:none;
    color: #005086;
    font-weight: bolder;
    width: 208px;
    height: 31px;
}

.changeBtn{
    display: flex;
    justify-content:center;
    align-items:center;
    background: #FFFFFF;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    outline: none;
    border:none;
    color: #005086;
    font-weight: bolder;
    width: 208px;
    height: 31px;
}

.points-user{
    display: flex;
    margin-left: 30px;
}

/* progress bar */
.progress-area{
    display: flex;
    flex-direction:column;
}

.progress-area > .heading{
    display: flex;
    color: #ffff;
    font-weight: bolder;
    font-size : 23px;
}

.progress-area  .heading{
    display: flex;
    position: relative;
    left:280px;
    top: -30px;
}

.progress{
    display: flex;
    position: relative;
    left:95%;
    width:170%;
    height:22px;
}

/* modal alterar password */
.modal-header{
    background: #ffff;
}

.modal-body{
    background: #005086;
}

.modal-footer{
    background: #ffff;
}

 .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: #ffffff;
}

/* form do modal alterar password */
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#Changepsw{
    border:none;
    background: #ffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    padding: 8px;
    width:85%;
    outline: none;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: bolder;
    margin-left: 11px;
}

input::placeholder{
    color: #005086;
}

#Changepsw:focus{
    background: #989BD1;
    color: #Fff;
}

#Changepsw{
    transition: 850ms;
}

#confirmNewpsw{
    border:none;
    background: #ffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    padding: 8px;
    width:85%;
    outline: none;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: bolder;
    margin-left: 11px;
}

#confirmNewpsw:focus{
    background: #989BD1;
    color: #Fff;
}

#confirmNewpsw{
    transition: 850ms;
}

#changePswModal {
    top:16%;
    right:50%;
    outline: none;
    overflow:hidden;
    }

    .changePswSubmission{
        display:flex;
        justify-content:center;
        align-items: center;
        border:none;
        background: rgb(32, 180, 96);
        color: #ffff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 14px;
        padding: 8px;
        width:35%;
        outline: none;
        box-sizing: border-box;
        font-size: 15px;
        font-weight: bolder;
        margin-left: -13px;
        margin-top: 30px;
    }

    .changePswSubmission{
        transition: 850ms;
    }

    .changePswSubmission:hover{
        background: white;
        color:rgb(32, 180, 96);
    }

    /* MODAL GALERIA DE AVATARES PARA ALTERAR O AVATAR DO PERFIL */
    .heading-avatar{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-weight: bolder;
    }

    .avatares{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        gap: 80px;
    }

    .image01{
        display: flex;
        height:100px; 
        width: 106px;
    }



    .image02{
        display: flex;
        height:100px; 
        width: 106px;
    }

    .image03{
        display: flex;
        height:100px; 
        width: 106px;
    }

.buttons-avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    gap:90px;
}


.buttons-avatar button{
    border:none;
    outline:none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    color: #005086;
    font-weight: bolder;
    width: 30%;
}

.buttons-avatar button{
    transition: 850ms;
}

.buttons-avatar button:hover{
    background: #989BD1;
    color: #ffff;
}