/* Fonts family of App fonte*/
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Arima+Madurai:wght@800&family=Bree+Serif&family=Bungee+Shade&family=Butcherman&family=Cormorant+SC:wght@300&family=Creepster&family=Diplomata+SC&family=Eater&family=Frijole&family=Germania+One&family=Hanalei+Fill&family=IM+Fell+DW+Pica+SC&family=IM+Fell+Double+Pica+SC&family=IM+Fell+Great+Primer+SC&family=Inknut+Antiqua:wght@300&family=Jomolhari&family=Julius+Sans+One&family=Lacquer&family=Libre+Franklin:wght@300&family=Metal+Mania&family=Monofett&family=Nosifer&family=Pinyon+Script&family=Quintessential&family=Syncopate&family=Trade+Winds&family=UnifrakturMaguntia&display=swap');
@import url('https://www.cufonfonts.com/font/feather-2');

/* to import the fonts para importar fontes */
@font-face{
    src: url(https://www.cufonfonts.com/font/feather-2);
    font-family: 'Feather', cursive;
}

/* global selector for impact all the html document (body) 
selector global para impactar o todo o documento html*/
*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: 'Feather', cursive;
}

body{
    background-color: #989BD1;
    height:120vh;
}

/* header */
.header{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    background:#005086;
    width: 98.9vw;
    height: 86px;
}


/* header logo */
.logo{
    display:flex;
    position: relative;
    left:10px;
    width: 115px;
    height: 91px;
}

/* navbarlist */
.navbar-list{
    font-size:15px;
    display:flex;
    gap:4.8rem;
    list-style:none;
}

.navbar-link a:link{
     display:inline-block;
    text-decoration: none;
    font-weight: bolder;
}

.navbar-list a{
    color: #fff;
}

.navbar-list{
    display:flex;
    margin-top: 19.5px;
    margin-left: -100px;
}

.select-link{
    display: flex;
    background-color: #989BD1;
    height:86px;
    width:120px;
    position: relative;
    left:151px;
}

.navbar{
    display: flex;
    margin-left: -70px;
}


/* button logout */
.buttonHome{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #989BD1;
    border-radius: 12px;
    width:97px;
    height:46px;
    margin-top:-17px;
    margin-left: 730px;
}

.iconify{
    height:23px;
    width:23px;
}

nav li{
    margin-top:10px;
}

/* -----------------------------------------------------EFEITOS HOVER NOS LINKS DA NAVBAR--------------------------- */

.navbar-link .home{
    transition: 1230ms ease-out;
}


.navbar-link .home:hover{
    transform:rotate(360deg);
    color:#989BD1;
}

.navbar-link .aulas{
    transition: 1230ms ease-out;
}

.navbar-link .aulas:hover{
    color: #ffff;
}

.navbar-link .shop{
    transition: 1230ms ease-out;
}


.navbar-link .shop:hover{
    transform:rotate(360deg);
    color:#989BD1;
}

.navbar-link .perfil{
    transition: 1230ms ease-out;
}


.navbar-link .perfil:hover{
    transform:rotate(360deg);
    color:#989BD1;
}

/* -------------------------------------------------------------------- */

.container-key-collection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.container-key-collection > .heading{
    display: flex;
    justify-content:center;
    align-items: center;
    color: #fff;
    font-weight: bolder;
    font-size: 25px;
    padding: 30px;
    margin-top: 20px;
}

.container-keys{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 30px;
    background: #fff;
    border-radius: 12px;
    padding: 60px;
    margin-top: -30px;
}

.nota-jogo{
    display: flex;
    color: #005086;
    font-weight: bolder;
    letter-spacing: 2px;
    gap: 10px;
    margin-top: -7px;
}

#heading-class{
    color: #fff;
    font-weight: bolder;
    letter-spacing: 1px;
    display:flex;
    justify-content:flex-start;
    padding-top: 20px;
    margin-left: 28px;
    font-size: 18px;
}

.video-etiquetas-container{
    display: flex;
    margin-left: 20px;
}

.video-likes-shares{
    display: flex;
    flex-direction:column;
    margin-top: 10px;
}

.container-likes-shares{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding-top: 13px;
}

.shares{
    cursor:pointer;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 10px;
    color: #005086;
    font-weight: bolder;
    letter-spacing: 1px;
}

.likes{
    cursor:pointer;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 10px;
    color: #005086;
    font-weight: bolder;
    letter-spacing: 1px;
}

.likes:hover{
    background: #005086;
    color: #fff;
}


/*ETIQUETAS DO VÍDEO */
#frame01{
    color: #fff;
    font-weight: bolder;
    letter-spacing:2px;
    display: flex;
    justify-content:center;
    align-items: center;
    background: #989BD1;
    border-radius: 30px;
    width: 70px;
    padding: 4px;
}

.start {
    cursor: pointer;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 10px;
    color: #ffff;
    font-weight: bolder;
    letter-spacing: 2px;
    text-decoration: none;
}

#frame02{
    color: #fff;
    font-weight: bolder;
    letter-spacing:2px;
    display: flex;
    justify-content:center;
    align-items: center;
    background: #989BD1;
    border-radius: 30px;
    width: 70px;
    padding: 4px;
}

.second-frame {
    cursor: pointer;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 10px;
    color: #ffff;
    font-weight: bolder;
    letter-spacing: 2px;
    text-decoration: none;
}

#frame03{
    color: #fff;
    font-weight: bolder;
    letter-spacing:2px;
    display: flex;
    justify-content:center;
    align-items: center;
    background: #989BD1;
    border-radius: 30px;
    width: 70px;
    padding: 4px;
}

.third-frame {
    cursor: pointer;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 10px;
    color: #ffff;
    font-weight: bolder;
    letter-spacing: 2px;
    text-decoration: none;
}

#frame04{
    color: #fff;
    font-weight: bolder;
    letter-spacing:2px;
    display: flex;
    justify-content:center;
    align-items: center;
    background: #989BD1;
    border-radius: 30px;
    width: 70px;
    padding: 4px;
}

.fourth-frame {
    cursor: pointer;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 10px;
    color: #ffff;
    font-weight: bolder;
    letter-spacing: 2px;
    text-decoration: none;
}

.frames{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:  30px;
    padding: 10px;
}

.acordion-guide{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    margin: 2rem auto;
}

.accordion-item{
    width: 520px;
    background-color: #005086;
    color: #ffff;
    margin: -8px 0;
    margin-left: 100px;
    border-radius: 1.5rem;
    box-shadow:  0 2px 8px 0 rgba(0,0,0,0.5);
    border-bottom: 6px solid #Ffff;
}

.accordion-item-header{
    padding: 0.9rem 4rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bolder;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 15px;
}

.accordion-item-header::after{
    content : url(/Media/images/arrow-down-accordeon.svg);
    font-size: 1px;
    position:absolute;
    right: 1rem;
}

.accordion-item-header.active::after{
    content: url(/Media/images/arrow-up-accordeon.svg)
}

.accordion-item-body{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

.accordion-item-body-content{
    display: flex;
    justify-content: center;
    align-items: center;
      padding: 2rem;
    line-height: 1.5rem;
    border-top: 4px solid #ffff;
    font-size: 1rem;
    transform:translateX(-20%)
}

.start:hover{
   background: #5791b8;
   height:10vh;
   width: 60vw;
   
}

.second-frame:hover{
    background: #5791b8;
    height:10vh;
    width: 60vw;
 }

 .third-frame:hover{
    background: #5791b8;
    height:10vh;
    width: 60vw;
 }

 .fourth-frame:hover{
    background: #5791b8;
    height:10vh;
    width: 60vw;
 }
 
 /* COMENTÁRIOS */
 .container{
    display: flex;
    justify-content: center;
    align-items: center;
 }

#comment-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 

#userAvatar{
    height:60px;
}

.username{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 15px;
}

 #comment{
    margin:0;
    padding:0;
    box-sizing: border-box;
    border:none;
    outline: none;
    border-bottom: 4px solid #00508633;
    background-color: transparent;
    transition: 850ms;
}

#comment::placeholder{
    color: #005086;
    font-weight: bolder;
    letter-spacing: 1px;
}

#comment{
    color: #005086;
    font-weight: bolder;
    letter-spacing: 1px;
    width: 600px;
    height: 30px;
}

.comentarios-container > .heading{
    display:flex;
    justify-content: flex-start;
    margin-left: 30px;
    padding: 60px;
    color: #005086;
    font-weight: bolder;
    font-size: 20px;
    padding-top: 40px;
}


.comentarios-container{
    box-shadow:  0 2px 8px 0 rgba(0,0,0,0.5);
    background-color:#EDEEFF;
    margin: 40px;
    border-radius: 12px;
}

.btns{
    display: flex;
    gap: 10px;
    padding:20px;
    margin-top: 10px;
}

.btns{
    transform: translate(-90%,40%);
}

#userAvatar{
    display: flex;
    justify-content: center;
    align-items: center;
}

#cancelbtn{
    background-color: #EDEEFF;
    border:none;
    outline:none;
    color: #005086;
    font-weight: bolder;
    cursor:default;
}

#commentbtn{
    display: flex;
    border:none;
    outline:none;
    color:#EDEEFF;
    border-radius: 12px;
    background-color: #005086;
    padding:4px;
    cursor:default;
}

#commentbtn{
    transition: 850ms;
}

#commentbtn:hover{
    background: #5259CD;
}

.container{
    display: flex;
    justify-content: flex-start;
}

.btns{
    opacity:0;
}

.addUserComment{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: #ffff;
    font-weight: bolder;
    letter-spacing: 1px;
}

.addUserComment  #username{
    margin-left: -30px;
}

#timeComment{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13.2px;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
}

.commentContent{
    display: flex;
    margin-left: -182px;
}

#timeComment{
    display: flex;
    transform: translateY(210%);
}

.addUserComment{
    background: #005086;
    padding:25px;
    border-radius: 22px;
    width: 150%;
}

.addUserComment{
    display: flex;
    justify-content:flex-start;
    
}

.commentContent{
    display: flex;
    transform: translateY(70%)
}

.addUsercontentComment{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 38px;
    transform: translateY(-2%);
}

.add-comments-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* PARA O ACORDEÃO DOS COMENTÁRIOS */
.accordion-header{
    padding: 0.9rem 4rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bolder;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 15px;
    color:#fff;
    font-weight: bolder;
    background: #005086;
    padding: 10px;
    border-radius: 12px;
    border-bottom: 6px solid #ffff;
    box-shadow:  0 2px 8px 0 rgba(0,0,0,0.5);
}

.accordion-body{
    max-height: 0;
    overflow: hidden;
    transition: max-height 850ms ease-out;
}

.accordion-header::after{
    content : url(/Media/images/arrow-down-accordeon.svg);
    font-size: 25px;
    position:absolute;
    right: 1rem;
    display: flex;
    justify-content:center;
}

.accordion-header.actived::after{
    content: url(/Media/images/arrow-up-accordeon.svg)
}

/* ---------------------------------TEMPLATE DO QUESTIONÁRIO DOS TRÊS EXERCICÍOS */
/* -----------------------------------------------ARÉA DOS TRÊS EXERCICÍOS */
.exercise-container-01 > .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing:2px;
    color: #ffff;
    font-weight:bolder;
    background-color: #005086;
    padding: 20px;
}

.heading-ex-01{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 30px;
    letter-spacing: 2px;
    color: #fff;
    font-weight: bolder;
}

.round-ex01{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #005086;
    padding: 10px;
    border-radius:22px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.exercise-container-01{
    background-color: #EDEEFF;
}

.ex01-question > #ex-01question {
    display: flex;
    margin-left:70px;
    color: #005086;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 20px;
}

/* OPÇÃO 1 DO EXERCICIO 1 */
.ex01{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding:60px;
}

/* OPÇÃO 1 DO EXERCICIO 1 */
#op01_ex01{
    border:none;
    outline:none;
    background:#989BD1;
    padding: 20px;
    width: 500px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: #fff;
    font-weight: bolder;
    letter-spacing:2px;
    display: flex;
    justify-content:center;
    align-items: center;
}

/* EFEITO HOVER NO BOTÃO */
#op01_ex01{
    transition: 850ms;
}

#op01_ex01:hover{
    background: #005086;
    box-shadow: 0px 14px 14px rgba(21, 57, 164, 0.622);
    color: #fff;
}

/* OPÇÃO 2 DO EXERCICIO 1 */
#op02_ex01{
    border:none;
    outline:none;
    background:#989BD1;
    padding: 20px;
    width: 500px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: #fff;
    font-weight: bolder;
    letter-spacing:2px;
    display: flex;
    justify-content:center;
    align-items: center;
}

/* EFEITO HOVER NO BOTÃO */
#op02_ex01{
    transition: 850ms;
}

#op02_ex01:hover{
    background: #005086;
    box-shadow: 0px 14px 14px rgba(21, 57, 164, 0.622);
    color: #fff;
}

/* OPÇÃO 3 DO EXERCICIO 1 */
#op03_ex01{
    border:none;
    outline:none;
    background:#989BD1;
    padding: 20px;
    width: 500px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: #fff;
    font-weight: bolder;
    letter-spacing:2px;
    display: flex;
    justify-content:center;
    align-items: center;
}

/* EFEITO HOVER NO BOTÃO */
#op03_ex01{
    transition: 850ms;
}

#op03_ex01:hover{
    background: #005086;
    box-shadow: 0px 14px 14px rgba(21, 57, 164, 0.622);
    color: #fff;
}

/* EFEITO FOCUS QUANDO SELECIONADO A OPÇÃO */
#op01_ex01:focus{
    background: #005086;
    box-shadow: 0px 14px 14px rgba(21, 57, 164, 0.622);
    color: #fff;
}

#op02_ex01:focus{
    background: #005086;
    box-shadow: 0px 14px 14px rgba(21, 57, 164, 0.622);
    color: #fff;
}

#op03_ex01:focus{
    background: #005086;
    box-shadow: 0px 14px 14px rgba(21, 57, 164, 0.622);
    color: #fff;
}

/* BOTÃO DE CONFIRMAR EXERCICIO 1 */
.btn-submit-ex01{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.btn-submit-ex01 > #submitAnswerEX01{
    display: flex;
    justify-content:center;
    align-items: center;
    border:none;
    outline:none;
    color: #fff;
    font-weight: bolder;
    letter-spacing: 2px;
    background: #005086;
    padding: 20px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 300px;
}

.btn-submit-ex01 > #submitAnswerEX01{
    transition: 850ms;
}

.btn-submit-ex01 > #submitAnswerEX01:hover{
    background: #5259CD;
}


/* EXERCICIO 2 */
.exercise-container-02 > .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing:2px;
    color: #ffff;
    font-weight:bolder;
    background-color: #005086;
    padding: 20px;
}

.heading-ex-02{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 30px;
    letter-spacing: 2px;
    color: #005086;
    font-weight: bolder;
}

.round-ex02{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #ffff;
    padding: 10px;
    border-radius:22px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ex02-question > #ex-02question {
    display: flex;
    margin-left:70px;
    color: #ffff;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 20px;
}

#ex-02subquestion{
    display: flex;
    color: #fff;
    font-weight: bolder;
    letter-spacing:1px;
    margin-left: 80px;
    padding: 25px;
}

/* OPÇÕES DO EXERCICIO 2  */
/* OPÇÃO 1 EXERCICIO 2 */
.ex02{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 60px;
}

/* OPÇÃO 1 EXERCICIO 2 */
#op01_ex02{
    border:none;
    outline:none;
    background:#005086;
    padding: 20px;
    width: 500px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 24px 14px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 14px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: #fff;
    font-weight: bolder;
    letter-spacing:2px;
    display: flex;
    justify-content:center;
    align-items: center;
}

/* OPÇÃO 2 EXERCICIO 2 */
#op02_ex02{
    border:none;
    outline:none;
    background:#005086;
    padding: 20px;
    width: 500px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 24px 14px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 14px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: #fff;
    font-weight: bolder;
    letter-spacing:2px;
    display: flex;
    justify-content:center;
    align-items: center;
}

#op01_ex02{
    transition: 850ms;
}

#op01_ex02:hover{
    background:#fff;
    box-shadow: 0px 14px 14px rgba(116, 21, 164, 0.622);
    color: #005086;
    font-weight: bolder;
}

#op02_ex02{
    transition: 850ms;
}

#op02_ex02:hover{
    background:#fff;
    box-shadow: 0px 14px 14px rgba(116, 21, 164, 0.622);
    color: #005086;
    font-weight: bolder;
}

/* EFEITO FOCUS COM A OPÇÃO SELECIONADA DO EXERCICIO 2 */
#op01_ex02:focus{
    background:#fff;
    box-shadow: 0px 14px 14px rgba(116, 21, 164, 0.622);
    color: #005086;
    font-weight: bolder;
}

#op02_ex02:focus{
    background:#fff;
    box-shadow: 0px 14px 14px rgba(116, 21, 164, 0.622);
    color: #005086;
    font-weight: bolder;
}

/* BOTÃO DE CONFIRMAR EXERCICIO 2 */
.btn-submit-ex02{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.btn-submit-ex02 > #submitAnswerEX02{
    display: flex;
    justify-content:center;
    align-items: center;
    border:none;
    outline:none;
    color: #005086;
    font-weight: bolder;
    letter-spacing: 2px;
    background: #fff;
    padding: 20px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 300px;
}

.btn-submit-ex02 > #submitAnswerEX02{
    transition: 850ms;
}

.btn-submit-ex02 > #submitAnswerEX02:hover{
    background: #005086;
    color: #fff;
    box-shadow: 0px 14px 14px rgba(116, 21, 164, 0.622);
}


/* EXERCICIO 3 */
.exercise-container-03{
    background:#EDEEFF;
    margin-top: 35px;
}

.exercise-container-03 > .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing:2px;
    color: #ffff;
    font-weight:bolder;
    background-color: #005086;
    padding: 20px;
}

.heading-ex-03{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 30px;
    letter-spacing: 2px;
    color: #ffff;
    font-weight: bolder;
}

.round-ex03{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #005086;
    padding: 10px;
    border-radius:22px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ex03-question > #ex-03question {
    display: flex;
    margin-left:70px;
    color: #005086;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 20px;
}

#ex-03subquestion{
    display: flex;
    color: #005086;
    font-weight:600;
    letter-spacing:1px;
    margin-left: 67px;
    padding: 3px;
    font-size: 12px;
}

/* OPÇÕES DO EXERCICÍO 3 */
.ex03{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap: 70px;
    padding: 70px;
}

#op01_ex03 {
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    outline:none;
    background: #989BD1;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: #fff;
    font-weight: bolder;
    padding: 16px;
    width:500px;
}

#op02_ex03 {
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    outline:none;
    background: #989BD1;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: #fff;
    font-weight: bolder;
    padding: 16px;
    width:500px;
}

#op03_ex03 {
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    outline:none;
    background: #989BD1;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: #fff;
    font-weight: bolder;
    padding: 16px;
    width:500px;
}

/* EFEITO HOVER NO BOTÃO */
#op01_ex03{
    transition: 850ms;
}

#op01_ex03:hover{
    background: #005086;
    box-shadow: 0px 14px 14px rgba(21, 57, 164, 0.622);
    color: #fff;
}

#op02_ex03{
    transition: 850ms;
}

#op02_ex03:hover{
    background: #005086;
    box-shadow: 0px 14px 14px rgba(21, 57, 164, 0.622);
    color: #fff;
}

#op03_ex03{
    transition: 850ms;
}

#op03_ex03:hover{
    background: #005086;
    box-shadow: 0px 14px 14px rgba(21, 57, 164, 0.622);
    color: #fff;
}

#op04_ex03{
    transition: 850ms;
}

#op04ex03:hover{
    background: #005086;
    box-shadow: 0px 14px 14px rgba(21, 57, 164, 0.622);
    color: #fff;
}

#op05ex03{
    transition: 850ms;
}

#op05ex03:hover{
    background: #005086;
    box-shadow: 0px 14px 14px rgba(21, 57, 164, 0.622);
    color: #fff;
}

#op01Vex03{
    transition: 850ms;
}

#op01Vex03:hover{
    background: #005086;
    box-shadow: 0px 14px 14px rgba(21, 57, 164, 0.622);
    color: #fff;
}

#op02Vex03{
    transition: 850ms;
}

#op02Vex03:hover{
    background: #005086;
    box-shadow: 0px 14px 14px rgba(21, 57, 164, 0.622);
    color: #fff;
}

#op03Vex03{
    transition: 850ms;
}

#op03Vex03:hover{
    background: #005086;
    box-shadow: 0px 14px 14px rgba(21, 57, 164, 0.622);
    color: #fff;
}

#op04Vex03{
    transition: 850ms;
}

#op04Vex03:hover{
    background: #005086;
    box-shadow: 0px 14px 14px rgba(21, 57, 164, 0.622);
    color: #fff;
}

#op05Vex03{
    transition: 850ms;
}

#op05Vex03:hover{
    background: #005086;
    box-shadow: 0px 14px 14px rgba(21, 57, 164, 0.622);
    color: #fff;
}







/* EFEITO FOCUS QUANDO SELECIONADO A OPÇÃO */
#op01ex01:focus{
    background: #005086;
    box-shadow: 0px 14px 14px rgba(21, 57, 164, 0.622);
    color: #fff;
}

/* EFEITO FOCUS QUANDO SELECIONADO A OPÇÃO */
#op01ex03:focus{
    background: #005086;
    box-shadow: 0px 14px 14px rgba(21, 57, 164, 0.622);
    color: #fff;
}


#op02ex03:focus{
    background: #005086;
    box-shadow: 0px 14px 14px rgba(21, 57, 164, 0.622);
    color: #fff;
}

#op03ex03:focus{
    background: #005086;
    box-shadow: 0px 14px 14px rgba(21, 57, 164, 0.622);
    color: #fff;
}

#op04ex03:focus{
    background: #005086;
    box-shadow: 0px 14px 14px rgba(21, 57, 164, 0.622);
    color: #fff;
}

#op05ex03:focus{
    background: #005086;
    box-shadow: 0px 14px 14px rgba(21, 57, 164, 0.622);
    color: #fff;
}

#op01Vex03:focus{
    background: #005086;
    box-shadow: 0px 14px 14px rgba(21, 57, 164, 0.622);
    color: #fff;
}

#op02Vex03:focus{
    background: #005086;
    box-shadow: 0px 14px 14px rgba(21, 57, 164, 0.622);
    color: #fff;
}

#op03Vex03:focus{
    background: #005086;
    box-shadow: 0px 14px 14px rgba(21, 57, 164, 0.622);
    color: #fff;
}

#op04Vex03:focus{
    background: #005086;
    box-shadow: 0px 14px 14px rgba(21, 57, 164, 0.622);
    color: #fff;
}

#op05Vex03:focus{
    background: #005086;
    box-shadow: 0px 14px 14px rgba(21, 57, 164, 0.622);
    color: #fff;
}

/* BOTÃO DE CONFIRMAR EXERCICIO 3 */
.btn-submit-ex03{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.btn-submit-ex03 > #submitAnswerEX03{
    display: flex;
    justify-content:center;
    align-items: center;
    border:none;
    outline:none;
    color: #fff;
    font-weight: bolder;
    letter-spacing: 2px;
    background: #005086;
    padding: 20px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 300px;
}

.btn-submit-ex03 > #submitAnswerEX03{
    transition: 850ms;
}

.btn-submit-ex03 > #submitAnswerEX03:hover{
    background: #5259CD;
}
