/* Fonts family of App fonte*/
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Arima+Madurai:wght@800&family=Bree+Serif&family=Bungee+Shade&family=Butcherman&family=Cormorant+SC:wght@300&family=Creepster&family=Diplomata+SC&family=Eater&family=Frijole&family=Germania+One&family=Hanalei+Fill&family=IM+Fell+DW+Pica+SC&family=IM+Fell+Double+Pica+SC&family=IM+Fell+Great+Primer+SC&family=Inknut+Antiqua:wght@300&family=Jomolhari&family=Julius+Sans+One&family=Lacquer&family=Libre+Franklin:wght@300&family=Metal+Mania&family=Monofett&family=Nosifer&family=Pinyon+Script&family=Quintessential&family=Syncopate&family=Trade+Winds&family=UnifrakturMaguntia&display=swap');
@import url('https://www.cufonfonts.com/font/feather-2');

/* to import the fonts para importar fontes */
@font-face{
    src: url(https://www.cufonfonts.com/font/feather-2);
    font-family: 'Feather', cursive;
}

/* global selector for impact all the html document (body) */
*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: 'Feather', cursive;
    background: #5259CD;
}

.buttonHome{
    position: absolute;
    width: 203px;
    height: 46px;
    left: 27px;
    top: 29px;
    background: #ffff;
    box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

/* Content Text of the Button Home */
.contentbtn{
    position: absolute;
    width: 44px;
    height: 19px;
    left: 96px;
    top: 12.5px;
    font-weight: bolder;
    font-size: 17px;
    line-height: 19px;
    background: #fff;
    color: #005086;
    }


    /* Icon of the button Home */
.iconify{
    position: absolute;
    left:15.9%;
    right: 92.85%;
    top: 22.36%;
    bottom: 90.47%;
    width: 25px;
    height: 25px;
    background: #fff;
    transform: rotate(-180deg);
    color:#005086;
    }

    /* styles for the register form */
 .main-register{
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

/* styles for the left side register page */
.left-register{
    width:50vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* styles for the slogans register */
.left-register{
    color:#ffff;
    font-weight: bolder;
}

/* styles for the heading slogan */
.left-register > .heading-slogan{
    font-size: 30px;
}

/* styles for the subheading slogan */
.left-register > .subheading-slogan{
    font-size: 13px;
}

/* Slogans */
.subheading-slogan{
    line-height:1px;
}

.left-register p:first-child {
    text-indent: -10px;
}

.heading-slogan{
    display:flex;
    margin-left: -700px;
    margin-top: 60px;
}

.subheading-slogan{
    display:flex;
    margin-left: -700px;
}

.ilustration{
    margin-left: -300px;
}


.textfield{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-bottom : 2px;  
}

.heading-birth{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom : 2px;
}

.flex-birth{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    gap:10px;
}

.flex-genrer-psw{
    padding: 10px;
    margin-top: 20px;
}

.flex-genrer-psw{
    display:flex;
    flex-direction: column;
    align-items:center;
    align-items:center;
    gap: 30px;
}

.bottom-register{
    padding: 25px;
}

.btn-register{
    margin-left: 180px;
    padding: 10px;
}

.register-btn{
    display: flex;
    padding-top: 20px;
}

.copy{
    font-size: 10px;
    color: #fff;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#username{
    border:none;
    background: #ffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    padding: 8px;
    width:65%;
    outline: none;
    box-sizing: border-box;
    font-size: 15px;  
    font-weight: bolder;
    margin-left: 18px;
}

input::placeholder{
    color: #005086;
}

#username:focus{
    background: #005086;
    color: #Fff;
}

#username{
    color: #005086;
}

.radio-buttons{
   display: grid;
   position: relative;
   left: -8%;
   padding: 8px;
}

#email{
    border:none;
    background: #ffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    padding: 8px;
    width:65%;
    outline: none;
    box-sizing: border-box;
    font-size: 15px;  
    font-weight: bolder;
    margin-left: 18px;
}

#email{
    color: #005086;
}

#email:focus{
    background: #005086;
    color: #Fff;
}

.heading-birth{
    font-weight: bolder;
    color: #fff;
}

#year{
    width:20%;
}

#daybirth{
    border:none;
    background: #ffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    padding: 8px;
    outline: none;
    box-sizing: border-box;
    font-size: 15px;  
    font-weight: bolder;
}

#daybirth{
    color: #005086;
}

#daybirth:focus{
    background: #005086;
    color: #Fff;
}

#birthday{
    border:none;
    background: #ffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    padding: 8px;
    outline: none;
    box-sizing: border-box;
    font-size: 15px;  
    font-weight: bolder;
}

#birthday{
    color: #005086;
}

#birthday:focus{
    background: #005086;
    color: #Fff;
}

select option{
    background: #ffff;
    color: #005086;
}

#year{
    border:none;
    background: #ffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    padding: 8px;
    outline: none;
    box-sizing: border-box;
    font-size: 15px;  
    font-weight: bolder;
}

#year{
    color: #005086;
}

#year:focus{
    background: #005086;
    color: #Fff;
}

#genrer{
    border:none;
    background: #ffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    width:240px;
    padding:8px;
    outline: none;
    box-sizing: border-box;
    font-size: 15px;  
    font-weight: bolder;
}

#genrer{
    text-align: center;
    color: #005086;
}

#genrer:focus{
    background: #005086;
    color: #Fff;
}

.radio-buttons{
    margin-left: 130px;
}

#psw{
    border:none;
    background: #ffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    padding: 8px;
    outline: none;
    box-sizing: border-box;
    font-size: 15px;  
    font-weight: bolder;
}

#psw{
    color: #005086;
}

#psw:focus{
    background: #005086;
    color: #Fff;
}

#confirmpsw{
    border:none;
    background: #ffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    padding: 8px;
    outline: none;
    box-sizing: border-box;
    font-size: 15px;  
    font-weight: bolder;
}

#confirmpsw{
    color: #005086;
}

#confirmpsw:focus{
    background: #005086;
    color: #Fff;
}

.log-link{
    text-decoration: none;
    color: #ffff;
}

.log-link:hover{
    color: #ffff;
}

.underline-link{
    width: 233px;
    height: 7px;
    background:  #ffff;
    margin-left: -6px;
}

.btn-register{
    display: flex;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    border: none;
    padding:12px;
    width:40%;
    color: #005086;
    font-weight: bolder;
    margin-left: 105px;
    margin-top: -10px;
}

#username{
    transition: 850ms;
}

#email{
    transition: 850ms;
}

#daybirth{
    transition: 850ms;
}

select{
    transition: 850ms;
}

#year{
    transition: 850ms;
}

#genrer{
    transition: 850ms;
}

#psw{
    transition: 850ms;
}

#confirmpsw{
    transition: 850ms;
}

.btn-register{
    transition: 850ms;
}

.btn-register:hover{
    background: #005086;
    color: #ffff;
}


/* MENSAGENS DE ERRO DOS CAMPOS DE REGISTRO */
.sucess-register{
    display:flex;
    justify-content: center;
    margin-top: -50px;
}

.SucessContent{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    background: rgba(0, 80, 134, 0.85);
    padding: 14px;
    border-radius: 13px;
    color: #fff;
    font-weight: bolder;
    letter-spacing:2px;
    font-size: 10px;    
}

.SucessContent{
    position: relative;
    top: -680px;
}

.sucess-icon{
    background: rgba(0, 80, 134, 0.85);
    background:transparent;
}

/* ----------------------------------------------------------------------------------------- */

.ilustration{
    background: transparent;
    margin-left: 3px;
    height: 550px;
}

/* ilustration animation */
.ilustration{
    animation:  1.5s Infinite  linear floating;
    animation-delay: 0s;
}

/* animation for the ilustration with floating function via Keyframes */
@keyframes floating {
    0%{opacity:1; transform:translateY(0px);}
    50%{ transform: translateY(-10px);}
    100%{opacity: 1; transform: translateY(0px);}
} 


/* ---------------------------------------Responsive area----------------- */

/* @media all and (max-width:1113px){

} */