@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Arima+Madurai:wght@800&family=Bree+Serif&family=Bungee+Shade&family=Butcherman&family=Cormorant+SC:wght@300&family=Creepster&family=Diplomata+SC&family=Eater&family=Frijole&family=Germania+One&family=Hanalei+Fill&family=IM+Fell+DW+Pica+SC&family=IM+Fell+Double+Pica+SC&family=IM+Fell+Great+Primer+SC&family=Inknut+Antiqua:wght@300&family=Jomolhari&family=Julius+Sans+One&family=Lacquer&family=Libre+Franklin:wght@300&family=Metal+Mania&family=Monofett&family=Nosifer&family=Pinyon+Script&family=Quintessential&family=Syncopate&family=Trade+Winds&family=UnifrakturMaguntia&display=swap');
@import url('https://www.cufonfonts.com/font/feather-2');

html, body {
  
  font-size: 13px;
  line-height: 1.5;
  box-sizing: border-box;
  margin: 0;
  top: 0;
  left: 0;
  position: relative;
  
  
}


a{
  font-family: 'Feather', cursive;
  text-decoration: none;
  color: rgba(34,45,69,.7);
  font-weight: 500;
  
}

a:hover {
  color:#E1C2FF;
}

ul{
  list-style-type: none;
}

.navbar {
  background: white;
  padding: 3rem 2rem;
  height:0rem;
  min-height: 12vh;
  
}

.navbar .navbar-brand a {
  padding: 1rem 0;
  display:block;
  text-decoration: none;
}

.navbar-toggler {
  background:#E1C2FF;
  border: none;
  padding:10px 6px;
  outline: none;
}

.navbar-toggler span {
  display: block;
  width: 22px;
  height: 2px;
  border: 1px;
  background: #E1C2FF;
}

.navbar-toggler span + span {
  margin-top: 4px;
  width: 18px;
  margin-left: 4px;
}

.navbar-toggler span + span + span {
  width: 10px;
  margin-left: 10px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 2rem 1.2rem;
  font-size: 1.4rem;
  position: relative;

  
  
}

 
.navbar-expand-lg .navbar-nav .nav-link:hover {
  border-top: 15px solid #E1C2FF;
}

.navbar-expand-lg .navbar-nav .nav-link.active {
  border-top: 8px solid #E1C2FF;
  color: #E1C2FF; 
}

.navbar-nav button {
  padding: 1.2rem 0;
}

.navbar-nav .btn1 {
  font-family: 'Feather', cursive;
  color:#0a3d62;
  border-radius: 6px;
  padding: 0.7rem 0.8rem;
  font-size: 1.2rem;
  margin-top: -10px;
  margin: 5px;
}

.navbar-nav .btn1:hover {
  background-color: #E1C2FF;
}
.navbar-nav .btn2 {
  font-family: 'Feather', cursive;
  color:#0a3d62;
  border-radius: 6px;
  padding: 0.7rem 0.8rem;
  font-size: 1.2rem;
  margin-top: -10px;
  margin: 5px;
}

.navbar-nav .btn2:hover {
  background-color: #E1C2FF;
}

.input-group {
  font-family: 'Feather', cursive;
  color:#0a3d62;
  border-radius: 6px;
  padding: 0.7rem 0.8rem;
  font-size: 1.2rem;
  margin-top: -10px;
  margin: 5px;
}

.form-control { 
  font-family: 'Feather', cursive;
}

.modal-footer .btn{
  font-family: 'Feather', cursive;
  color:#0a3d62;
  border-radius: 6px;
  padding: 0.7rem 0.8rem;
  font-size: 1.2rem;
  margin-top: -10px;
  margin: 5px;
}

.modal-footer .btn:hover {
  background-color: #E1C2FF;;
}

.modal {
  font-family: 'Feather', cursive;
}

.nav-item {
  text-align: center;
  padding: 1px;
  margin: 0 auto;
  padding-left: 2px;

}


main {
  padding-top: 0 auto;
  margin-top: 25px;
  font-family: 'Feather', cursive;
  font-size: 15px;
  position: relative;

  
}

div.corpo {
  text-decoration: none;
  padding: 90px;
}

div.video {
  margin-bottom: 30px;
  margin: 0px 40px -30px;
  padding: 30px;
  padding-bottom: 50%;
  position: relative;
}

div.video > iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

div.corpo .p {
  font-size: 25px;
  margin-left: 10px;
  margin: 10px;

}

div.corpo .p1 .p2{
  margin-top: 15px;
  align-items: center;
  
  
}

.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
  font-family: 'Feather', cursive;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
  font-family: 'Feather', cursive;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
  font-family: 'Feather', cursive;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
  font-family: 'Feather', cursive;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
  font-family: 'Feather', cursive;
}

